<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Phoenix Administraion</title>
</head>
<body>
	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div id="sn_menu">
				<div th:replace="fragments/menu :: menu">My menu</div>
			</div>
			<div id="sn_content">
				<h1>
					Updating password for <span sec:authentication="name">?</span>.
				</h1>
				<script>
					function validatePassword(form) {
						password = form.password.value;
						confirmPassword = form.confirmPassword.value;
						
						else if (password != confirmPassword) {
							alert("The passwords don't match.")
							return false;
						}
					}
				</script>
				<form onSubmit="return validatePassword(this)"
					th:action="@{/user/changePassword}" method="POST">
					<div>
						<label> Current Password: <input type="password"
							name="currentPassword" required />
						</label> <br /> <label> Password: <input type="password"
							name="password" required />
						</label><br /> <label> Confirm Password: <input type="password"
							name="confirmPassword" required />
						</label>
					</div>
					<div>
						<input class="standardButton" type="submit"
							value="Update Password" />
					</div>
				</form>
			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My footer</div>
		</div>
	</div>

</body>
</html>