<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout/main :: head(title=~{this :: title})">
<title>Phoenix: Welcome</title>
</head>
<body th:insert="layout/main :: sn_page(~{ :: #page-content})">
	<div id="page-content">

		<h1>Work in Progress User Tools</h1>

		<a th:href="@{/services/changePassword}"><input
			class="standardButton" type="submit" value="Change Password" /></a>

	</div>
</body>
</html>