body {
	font-family: Arial, Helvetica, Verdana;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
}

#sn_page {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 10px;
  width: 900px;
  border: 1px solid #EEE;
  padding: 1px;
}

#sn_page #sn_header {
	background-color: #737373;
	color: white;
	flex: 0 1 100px;
	font-size: 2.3em;
	text-align: center;
	padding: 11px;
	text-shadow: 2px 2px 4px black;
	
}

#sn_page #sn_body {
	display: flex;
}

#sn_page #sn_footer {
	flex: 0 1 auto;
	text-align: center;
	border: 1px solid #EEE;
}

#sn_page #sn_body > #sn_menu {
	background-color: #b3b3b3;
	width: 215px;
	text-align: center;
	
}

#sn_page #sn_body > #sn_content {
	width: calc(100% - 215px);
	padding: 5px;
}

#sn_login {
	
}

.standardButton {
	border-radius: 5px;
	box-shadow: 1px 1px 2px grey;
}

.menuButton {
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	width: 85%;
	margin: 8px;
	margin-top: 10px;
}
