<!DOCTYPE html>
<html>
<head>
<div th:fragment="header">
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
  		$( function() {
    		$( "#accordion" ).accordion({collapsible: true});
    		$( "input" ).checkboxradio();
  		} );
  	</script>
	<link rel="stylesheet" href="/style/base.css">
	<div class="container">
		<div id="sn_header">
			<a>Phoenix Administration</a>
		</div>
	</div>
</div>
</head>
</html>