<!DOCTYPE html>
<html>
<head>
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Phoenix Administration</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${module == 'home' ? 'active' : ''}">
              <a href="#" th:href="@{/}">Home</a>
            </li>
            <li th:classappend="${module == 'account' ? 'active' : ''}">
              <a href="#" th:href="@{/users}">Account</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li th:classappend="${module == 'logout' ? 'active' : ''}">
              <a href="#" th:href="@{/login}">logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</head>
</html>