<!DOCTYPE html>
<html>
<body th:fragment="menu">
	<script>
		$(function() {
			$("#sn_flyout_menu").menu();
		});
	</script>
	<ul id="sn_flyout_menu">

		<li><div><a th:href="@{/}">Home</a></div></li>
		
		<li sec:authorize="isAuthenticated() == false">
			<div>
				<a href="#" th:href="@{/login}">Login</a>
			</div>
		</li>

		<li sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')">
			<div><a th:href="@{/administration/home}">Administration</a></div>
			<ul>
				<li>
					<div>Users</div>
					<ul>
						<li><div><a th:href="@{/administration/createUserHTML}">Create&nbsp;User</a></div></li>
						<li><div><a th:href="@{/administration/editUserInitialPage}">Edit&nbsp;User</a></div></li>
						<li><div><a th:href="@{/administration/editRoleList}">Edit&nbsp;Role</a></div></li>
					</ul>
				</li>
				<li>
					<div>Security</div>
					<ul>
						<li><div>Roles</div></li>
						<li><div>Groups<div></li>
					</ul>
				</li>
				<li>
					<div>Configuration</div>
				</li>
			</ul>
		</li>
		
		<li sec:authorize="isAuthenticated()">
			<div><a th:href="@{/services/home}">Account</a></div>
			<ul>
				<li>
					<div><a th:href="@{/services/changePassword}">Change Password</a></div>
				</li>
				<li>
					<div><a th:href="@{/services/users}">Preferences</a></div>
				</li>
			</ul>
		</li>

		<li sec:authorize="isAuthenticated()">
			<div>
				<form th:action="@{/logout}" method="post" id="signout">
					<a onclick="$('#signout').submit()">Sign Out</a>
				</form>
			</div>
		</li>
	</ul>
</body>
</html>