<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Phoenix Administration</title>
</head>
<body>

	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div class="navbar-collapse collapse" id="sn_menu">
				<ul class="nav navbar-nav">
					<li th:classappend="${module == 'home' ? 'active' : ''}"><a
						th:href="@{/}"><input type="submit" value="Home"></a></li>
					<li th:classappend="${module == 'account' ? 'active' : ''}" sec:authorize="isAuthenticated()"><a
						th:href="@{/home}"><input type="submit" value="Account"></a></li>
				</ul>
				<ul>
					<li th:classappend="${module == 'login' ? 'active' : ''}"><a
						href="#" th:href="@{/login}"
						sec:authorize="isAuthenticated() == false"><input
							type="submit" value="Login"></a>
						<form th:action="@{/logout}" method="post"
							sec:authorize="isAuthenticated()">
							<input type="submit" value="Sign Out" />
						</form></li>
				</ul>
			</div>
			<div id="sn_content">
				<div sec:authorize="isAuthenticated() == false">
					<h1>Welcome!</h1>
					
					Please sign in to get started.
				</div>
				<div sec:authorize="isAuthenticated()">
					<h1>Welcome!</h1>

					This content is only shown to authenticated users.
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/administration/home}">Admin Tools</a>
					</div>
					<div sec:authorize="hasRole('ROLE_USER')">This content is
						only shown to users.</div>
				</div>
			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My header</div>
		</div>
	</div>

</body>
</html>