<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="/style/base.css">
<head>
<title>Phoenix Administration</title>
</head>

<body>

	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">

			<div id="sn_content">
				<div th:if="${param.error}">Invalid username and password.</div>
				<div th:if="${param.logout}">You have been logged out.</div>
				<form th:action="@{/login}" method="post">
					<div>
						<label> User Name: <input type="text" name="username" />
						</label>
					</div>
					<div>
						<label> Password: <input type="password" name="password" />
						</label>
					</div>
					<div>
						<input type="submit" value="Sign In" />
					</div>
				</form>

			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My header</div>
		</div>
	</div>
</body>
</html>