<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout/main :: head(title=~{this :: title})">
<title>Phoenix: Please log in...</title>
</head>
<body th:insert="layout/main :: sn_page(~{ :: #page-content})">
	<script>
		$(function() {
			$("#signInBtn").click(function() {
				$(this.form).submit();
			});
		});
	</script>
	<div id="page-content">
		<h3 class="sn_err_text" th:if="${param.error}">
			Oops! Invalid username and/or password. Try again...<span
				th:text="${param.error}">?</span>
		</h3>
		<h3 th:if="${param.logout}">Good Bye! You have been logged out...</h3>
		<p th:if="${param.error == null && param.logout == null}">Please
			enter your username and password below to sign in. If you have
			forgotten your username or password then contact Administration.</p>
		<div
			th:insert="fragments/forms/credentials :: credentialsForm(@{/login},'Sign In','Sign In')">sign
			in form</div>
	</div>
</body>
</html>