<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Admins</title>
</head>
<body>
	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div id="sn_menu">
				<div>
					<div>
						<a th:href="@{/}"><input class="menuButton" type="submit" value="Home"></a>
					</div>
					<div sec:authorize="isAuthenticated()">
						<a th:href="@{/administration/home}"><input class="menuButton" type="submit" value="Account"></a>
					</div>
				</div>
				<div>
					<div>
						<a href="#" th:href="@{/login}"
							sec:authorize="isAuthenticated() == false"><input
							class="menuButton" type="submit" value="Login"></a>
						<form th:action="@{/logout}" method="post"
							sec:authorize="isAuthenticated()">
							<input class="menuButton" type="submit" value="Sign Out" />
						</form>
					</div>
				</div>
			</div>
			<div id="sn_content">
				<h1>Work in Progress Admin Tools</h1>
				
				<div id="accordion">
					<input class="menuButton" type="submit" value="Add a User" />
					<div><p>Hello! This is a work in progress Accordion for adding users!</p></div>
					
					<input class="menuButton" type="submit" value="Edit a User" />
  					<div>
    					<p>Hello! This is a work in progress Accordion for editing users!
    					</p>
  					</div>
				</div>
					
			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My footer</div>
		</div>
	</div>
</body>
</html>