<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout/main :: head(title=~{this :: title})">
<title>Phoenix: Set User Role</title>
</head>
<body th:insert="layout/main :: sn_page(~{ :: #page-content})">
	<div id="page-content">
		<h1>User successfully created! Please give them a role!</h1>

		<form th:action="@{/administration/createUserRole}" method="POST">
			<fieldset>
				<legend>
					Set Role for <span th:text="${user.getUsername()}">Test</span>
				</legend>
				<label for="radio-1">Admin</label> <input type="radio"
					name="authorities" id="radio-1" value="ROLE_ADMIN"> <label
					for="radio-2">User</label> <input type="radio" name="authorities"
					id="radio-2" value="ROLE_USER" checked> <input type="text"
					name="username" th:value="${user.getUsername()}"
					style="display: none;">
			</fieldset>
			<div>
				<input class="standardButton" type="submit" value="Set Role" />
			</div>
		</form>
	</div>


</body>
</html>