<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout/main :: head(title=~{this :: title})">
<title>Phoenix: Set User Role</title>
</head>
<body th:insert="layout/main :: sn_page(~{ :: #page-content})">
	<div id="page-content">

		<h1>Edit User Role</h1>
		<div id="userList">
			<form th:action="@{/administration/searchUserRoleList}" method="POST">
				<label> User Name: <input type="text" name="username"
					 />
				</label>
				<button class="tableButton" type="submit">Search</button>
			</form>
		</div>
		<br />
		<div id="userList">
			<table id="userTable">
				<tr>
					<th>Username</th>
				</tr>
				<tr th:each="userList: ${userList}">
					<td th:text="${userList.username}">?</td>
					<td><form th:action="@{/administration/editUserRoleStartup}"
							method="POST">
							<input type="hidden" name="username"
								th:value="${userList.username}" style="display: none;">
							<button class="tableButton" type="submit">Edit</button>
						</form></td>
				</tr>
			</table>
		</div>
		<br/>
		<a th:href="@{/administration/home}"><input
			class="standardButton" type="submit" value="Go Back" /></a>
	</div>


</body>
</html>