<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="/style/base.css">
<head>
<title>Phoenix Administraion</title>
</head>
<body>
	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div class="navbar-collapse collapse" id="sn_menu">
				<ul class="nav navbar-nav">
					<li th:classappend="${module == 'home' ? 'active' : ''}"><a
						href="#" th:href="@{/}">Home</a></li>
					<li th:classappend="${module == 'account' ? 'active' : ''}"><a
						href="#" th:href="@{/home}">Account</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:classappend="${module == 'logout' ? 'active' : ''}"><a
						href="#" th:href="@{/login}">logout</a></li>
				</ul>
			</div>
			<div id="sn_content">
				<h1>Hello world!</h1>
				<div sec:authorize="hasRole('ROLE_ADMIN')">You are Admin!</div>
				<div sec:authorize="hasRole('ROLE_USER')">You are User!</div>

				Logged user: <span sec:authentication="name">Bob</span> Roles: <span
					sec:authentication="principal.authorities">[ROLE_USER,
					ROLE_ADMIN]</span>
			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My header</div>
		</div>
	</div>

</body>
</html>