<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Admins</title>
</head>
<body>
	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div id="sn_menu">
				<div th:replace="fragments/menu :: menu">My menu</div>
			</div>
			<div id="sn_content">
				<h1>Edit User</h1>
				<div id="userList">
					<form th:action="@{/administration/searchUserList}" method="POST">
						<p>Username:</p>
						<input type="text" name="username" required>
						<button class="tableButton" type="submit">Search</button>
					</form>
				</div>
				<br/>
				<div id="userList">
					<table id="userTable">
						<tr>
							<th>Username</th>
							<th>Date Created</th>
							<th>Enabled</th>
							<th>Expired</th>
							<th>Locked</th>
						</tr>
						<tr th:each="userList: ${userList}">
							<td th:text="${userList.username}">test</td>
							<td th:text="${userList.dateCreated}">test</td>
							<td th:text="${userList.enabled}">test</td>
							<td th:text="${userList.expired}">test</td>
							<td th:text="${userList.locked}">test</td>
							<td><form th:action="@{/administration/editUserInit}"
									method="POST">
									<input type="text" name="username"
										th:value="${userList.username}" style="display: none;">
										<input type="text" name="dateCreated"
										th:value="${userList.dateCreated}" style="display: none;">
									<button class="tableButton" type="submit">Edit</button>
								</form></td>
						</tr>
					</table>
				</div>
			</div>

		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My footer</div>
		</div>
	</div>
</body>
</html>