<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Phoenix Administraion</title>
</head>
<body>
	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div id="sn_content">
				<form>
					<fieldset>
						<legend> Editing the User <span th:text="${user.getUsername()}">Test</span></legend>
							<p>For accuracy reasons don't edit the username.</p>
							<input type="text" name="username" th:value="${user.getUsername()}">
					</fieldset>
					<div>
						<input class="standardButton" type="submit" value="Edit User" />
					</div>
				</form>
				<a th:href="@{/administration/admins}"><input class="standardButton" type="submit" value="Go Back" /></a>
			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My header</div>
		</div>
	</div>

</body>
</html>