<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Phoenix Administraion</title>


</head>
<body>
	<div id="sn_page">
		<div id="sn_header">
			<div th:replace="fragments/header :: header">My header</div>
		</div>
		<div id="sn_body">
			<div id="sn_content">
				<form th:action="@{/administration/editUser}" method="POST">
					<fieldset>
						<legend> Editing <span th:text="${user.getUsername()}">Test</span></legend>
							<fieldset>
    							<legend> Enabled: </legend>
    							<label for="radio-1">true</label>
    							<input type="radio" name="enabled" id="radio-1" value="true" th:checked="${user.isEnabled()}">
    							<label for="radio-2">false</label>
    							<input type="radio" name="enabled" id="radio-2" value="false" th:checked="${!user.isEnabled()}">
  							</fieldset>
  							<fieldset>
    							<legend> Locked: </legend>
    							<label for="radio-1">true</label>
    							<input type="radio" name="locked" id="radio-1" value="true" th:checked="${user.isLocked()}">
    							<label for="radio-2">false</label>
    							<input type="radio" name="locked" id="radio-2" value="false" th:checked="${!user.isLocked()}">
  							</fieldset>
  							<fieldset>
    							<legend> Expired: </legend>
    							<label for="radio-1">true</label>
    							<input type="radio" name="expired" id="radio-1" value="true" th:checked="${user.isExpired()}">
    							<label for="radio-2">false</label>
    							<input type="radio" name="expired" id="radio-2" value="false" th:checked="${!user.isExpired()}">
  							</fieldset>
							<input type="text" name="username" th:value="${user.getUsername()}" style="display:none;">
							<input type="text" name="dateCreated" th:value="${user.getDateCreated()}" style="display: none;">
					</fieldset>
					<div>
						<input class="standardButton" type="submit" value="Edit User" />
					</div>
				</form>
				<a th:href="@{/administration/editUserInitialPage}"><input class="standardButton" type="submit" value="Go Back" /></a>
			</div>
		</div>
		<div id="sn_footer">
			<div th:replace="fragments/footer :: footer">My footer</div>
		</div>
	</div>

</body>
</html>