<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="credentialsForm(action,legend,submitButtonLabel)">
	<form id="credentialsForm" th:action="${action}" method="post">
		<fieldset form="credentialsForm">
			<legend th:text="${legend}">Credentials</legend>
			<div class="signInForm">
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" required />
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" required />
				<button id="credentialsFormSubmit" th:text="${submitButtonLabel}">Submit</button>
			</div>
		</fieldset>
	</form>
</body>
</html>